.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
/angular.json
/browserslist
/coverage
/e2e
/.git
/Jenkinsfile
/karma.conf.js
/.npmrc
/package-lock.json
/sonar-project.properties
/src
/tsconfig.app.json
/tsconfig.json
/tsconfig.spec.json
/tslint.json
